body {
  min-width: 320px;
  max-width: 750px;
  width: 10rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background: #F7F7F7;
}
* {
  box-sizing: border-box;
  text-align: center;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}
/* 顶部搜索框 */
.top {
  position: relative;
  overflow: hidden;
}
.top::before {
  content: "";
  position: absolute;
  height: 26.666667rem;
  width: 26.666667rem;
  border-radius: 26.666667rem;
  z-index: -1;
  background: linear-gradient(to right, #ffdcdc, rgba(255, 0, 0, 0.658));
  left: -86.5%;
  top: -21.333333rem;
}
.search-content {
  position: relative;
  height: 2.4rem;
  width: 10rem;
  margin: 0 auto;
}
.search-content .search-one {
  display: flex;
  margin: 0 0.453333rem;
  height: 1.173333rem;
  padding-top: 0.266667rem;
}
.search-content .search-one .fenlei {
  height: 0.8rem;
  width: 0.48rem;
  background: url("../img/lb.png") no-repeat;
  background-size: 0.48rem auto;
}
.search-content .search-one .guanggao {
  flex: 1;
  width: 6rem;
  height: 0.733333rem;
  background: url("../img/gg.gif") no-repeat 1.333333rem;
  background-size: 4.96rem auto;
}
.search-content .search-one .login {
  height: 0.8rem;
  width: 0.48rem;
  background: url("../img/login.png");
  background-size: 0.48rem auto;
}
.search-content .search {
  position: relative;
  display: block;
  margin: 0.213333rem 0.453333rem;
  height: 0.8rem;
  flex: 1;
  border-radius: 0.666667rem;
  background-color: #fff;
}
.search-content .search::before {
  content: "";
  position: absolute;
  background: url("../img/search.png");
  background-size: 0.48rem;
  height: 0.48rem;
  width: 0.48rem;
  top: 0.16rem;
  left: 0.266667rem;
}
.search-content .search::after {
  content: "商品/店铺";
  position: absolute;
  font-size: 0.32rem;
  top: 0.186667rem;
  left: 0.933333rem;
  color: #999;
}
/* 轮播图 */
.slideimg {
  position: relative;
  height: 3.466667rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slideimg img {
  position: absolute;
  top: -1.333333rem;
  border-radius: 0.133333rem;
  width: 9rem;
  left: 50%;
  transform: translateX(-50%);
}
/* 导航 */
.nav {
  height: 4.266667rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.nav a {
  display: block;
  width: 2rem;
  height: 1.893333rem;
  font-size: 0.266667rem;
  color: #666;
}
.nav a img {
  height: 1.12rem;
  width: 1.12rem;
  margin: 0.32rem 0.44rem 0.066667rem;
}
/* 满减 */
.manjian {
  height: 2.8rem;
  width: 10rem;
  display: flex;
}
.manjian a {
  height: 2.8rem;
  width: 5rem;
}
.manjian a img {
  width: 5rem;
}
/* 底部 */
.footer {
  height: 2.533333rem;
  width: 10rem;
  position: fixed;
  bottom: 0;
}
.footer .ljdl {
  display: block;
  height: 1.2rem;
  width: 10rem;
  background: url("../img/dl.png") no-repeat;
  background-size: 10rem;
}
.footer .bottom {
  height: 1.333333rem;
  width: 10rem;
  display: flex;
  background-color: #fff;
}
.footer .bottom a {
  height: 1.333333rem;
  width: 2rem;
  font-size: 0.213333rem;
  color: #333;
  padding: 0.133333rem 0;
}
.footer .bottom a img {
  margin: 0 0.626667rem;
  height: 0.746667rem;
  width: 0.746667rem;
}
